@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary: #fe2c55;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    max-width: 1600px;
    max-height: 750px;
    background-color: azure;
}

body {
    // font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}
.container-component {
    display: flex;
    flex-wrap: nowrap;
    height: 650px;
}
.content {
    width: 82%;
    background-color: blanchedalmond;
}
