.header {
    padding: 10px 0;
    color: var(--text-color);
    // height: var(--default-header-content-height);
}
.name-page {
    padding: 15px 0 15px 30px;
    font-size: 2rem;
    font-weight: 800;
}
.listStudent_result_btn,
.listTeacher_result_btn {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    width: 100%;
}
.listStudent_btn,
.listTeacher_btn,
.result_btn {
    width: 47.5%;
    height: 40px;
    transition: background-color ease-in-out 200ms;

    font-weight: 600;
    &:active {
        color: var(--white);
        background-color: var(--primary);
    }

    &.listStudent_btn {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    &.result_btn {
        margin-left: 0px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

.container {
    display: flex;
    position: relative;
    padding: 0 30px;
    min-height: 48px;
}
.form-group {
    display: flex;
}
.filter-section {
    display: flex;
}

.icon-filter {
    width: 45px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.reset-filter {
    color: var(--red);
    .icon-reset {
        margin-right: 8px;
    }
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.action {
    position: absolute;
    right: 90px;
    top: 50%;
    transform: translateY(-50%);
}
.import-btn {
    margin-left: 8px;
}
