:root {
    --primary: #4880ff;
    --black: #000;
    --white: #fff;
    --red: #ea0234;
    --orange: #ff9a6c;
    --green: #92e3a9;
    --dark-green: #00b69b;
    --text-color: #161823;
    --icon-color: #667580;
    --text-table: #6e6893;
    --header-table: #fff;
    --header-table-custom: #dde5f6;
    --box-shadow: #e8e8e8;
    --background-popper: #fff;
    --highlight-table: #dde5f6;

    //default layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1270px;
    --default-layout-height: 850px;
    --default-layout-horizontal-spacer: 24px;
    --default-header-content-height: 110px;
    --text-loaihocphan-tinchi: #578ebe;
    --text-color-child-table: #6e6893;
    --search-background: #f5f6fa;
    --content-table: #fff;
    --filter-background: #fff;
}
.wrapper-dark {
    transition: all 600ms ease;
    background-color: #273142;
    --content-table: #273142;
    --primary: #4880ff;
    --black: #fff;
    --white: #1b2431;
    --red: #ea6985;
    --orange: #ff9a6c;
    --green: #92e3a9;
    --dark-green: #00b69b;
    --text-color: #ecedf4;
    --icon-color: #fff;
    --header-table: #323d4e;
    --header-table-custom: #323d4e;
    --box-shadow: #666363;
    --background-popper: #777c88;
    --text-loaihocphan-tinchi: #03294a;
    --highlight-table: #323d4e;
    --text-color-child-table: #ecedf4;
    --search-background: #323d4e;
    --filter-background: #273142;
    .content {
        background-color: #1b2431;
    }
}
.wrapper {
}
.container-component {
    display: flex;
    // flex-wrap: nowrap;
}
.content {
    width: var(--default-layout-width);
    height: var(--default-layout-height);
    background-color: #f5f6fa;
}
