.courses {
    display: flex;
    justify-content: flex-start;
    max-height: calc(var(--default-layout-height) - var(--default-header-content-height));
}
.container {
    overflow-y: scroll;
    margin: 0;

    // height: 510px;
}
.row {
    flex-wrap: wrap;
}
