.filter-section {
    display: flex;
    height: 50px;
    border: 1px solid var(--box-shadow);
    border-radius: 10px;
    font-size: 1.4rem;
}
.form-group-title {
    display: flex;
    height: 100%;
    width: 120px;
    align-items: center;
    justify-content: center;
    .icon {
        margin-right: 8px;
    }
}
.form-group {
    height: 100%;
    border-left: 1px solid var(--box-shadow);
}
.filter-selection-btn {
    width: 180px;
    height: 100%;
    cursor: pointer;
    color: var(--text-color);
    font-weight: 600;
    background-color: var(--filter-background);
    transition: background-color 200ms ease;
    &:hover {
        background-color: var(--primary);
        color: var(--white);
    }
    &:focus {
        outline: none;
    }
}
.filter-reset-btn {
    width: 180px;
    height: 100%;
    background-color: var(--filter-background);
    color: var(--red);
    font-weight: 600;
    cursor: pointer;
    .icon-reset {
        margin-right: 8px;
    }
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
