.wrapper {
    display: block;
    height: 100%;
}
.wrapper-table {
    height: 100%;
    position: relative;
    overflow: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: transparent;
}

.custom-table {
    background-color: var(--white);
    margin: 0;
    border: 1px solid #e8e8e8;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    font-size: 1.2rem;
}

.custom-table thead.header {
    background-color: #f1f4f4;
    font-size: 1.4rem;
}

.custom-table th,
.custom-table td {
    height: 50px;
    padding: 10px 0 10px 20px;
    vertical-align: middle;
}
.custom-table td:nth-child(1) {
    width: 15%; /* Độ rộng cột STT % */
}

.custom-table td:nth-child(2) {
    max-width: 180px; /* Độ rộng cột MSSV / MSGV */
}
.custom-table td:nth-child(3) {
    width: 25%; /* Độ rộng cột Họ và Tên */
}

.edit-btn,
.add-btn {
    cursor: pointer;
    color: #918f8f;
    width: 15px;
    height: 15px;
    &:hover {
        color: var(--primary);
    }

    margin-left: 10px;
}
.add-btn {
    color: #92e3a9;
}
.no-data {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
.header-CLO {
    background-color: #dde5f6;
    color: var(--primary);
    font-size: 1.4rem;
    tr {
        border-bottom: 3px solid #fff;
    }
}
.child-form {
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.child-form .custom-table thead.header {
    background-color: #f5f6fa;
    color: #6e6893;
    font-size: 1.2rem;
}
.child-form .custom-table tbody {
    background-color: #dde5f6;
}
.child-form .wrapper-table {
    border-radius: 0;
}
.child-form .custom-table {
    border-radius: 0;
}
.highlighted {
    background-color: #dde5f6;
}
.no-highligh {
    &:hover {
        background-color: #dde5f6;
        transition: background-color ease-in-out 200ms;
    }
}

.child-form .custom-table th,
.child-form .custom-table td {
    border-bottom: 1px solid var(--white);
}
