.wrapper {
    height: 100%;
    color: var(--tex-color);
    transition: all 500ms ease;
}
.wrapper-table {
    height: 100%;
    overflow: auto;
    border-radius: 10px;
    background-color: transparent;
}

.custom-table {
    margin: 0;
    width: 100%;
    font-size: 1.4rem;
}

.custom-table thead.header {
    background-color: var(--header-table);
    font-size: 1.4rem;
}

.custom-table th,
.custom-table td {
    height: 50px;
    padding: 10px 0 10px 20px;
    vertical-align: middle;
}
.custom-table tr {
    border-bottom: 1px solid var(--box-shadow);
}
.table thead {
    position: sticky;
    border-radius: 10px;
    box-shadow: 0px 2px 4px var(--box-shadow);
    z-index: 1;
    top: 0px;
}

.custom-table td:nth-child(1) {
    // width: 15%; /* Độ rộng cột STT % */
}

.custom-table td:nth-child(2) {
    max-width: 180px; /* Độ rộng cột MSSV / MSGV */
}
.custom-table td:nth-child(3) {
    max-width: 180px; /* Độ rộng cột Họ và Tên */
}

.edit-btn,
.add-btn {
    cursor: pointer;
    color: var(--icon-color);
    width: 15px;
    height: 15px;
    &:hover {
        color: var(--primary);
    }

    margin-left: 10px;
}
.add-btn {
    color: #92e3a9;
}
.no-data {
    text-align: center;
    height: 50px;
}
.header-CLO,
.header-CTK {
    background-color: var(--header-table-custom);
    color: var(--primary);
    font-size: 1.4rem;
    tr {
        border-bottom: 2px solid var(--box-shadow);
    }
}

.child-form .custom-table thead.header {
    background-color: var(--header-table-custom);
    color: var(--text-color-child-table);
    font-size: 1.2rem;
}
.child-form .custom-table tbody {
    background-color: var(--highlight-table);
}
.child-form .wrapper-table {
    border-radius: 0;
}
.child-form .custom-table {
    border-radius: 0;
}
.highlighted {
    background-color: var(--highlight-table);
}
.no-highlight {
    &:hover {
        background-color: var(--highlight-table);
        cursor: pointer;
    }
}

.child-form .custom-table th,
.child-form .custom-table td {
    border-bottom: 1px solid var(--white);
}
.child-form .table thead {
    z-index: 0;
}
.hocky {
    text-align: center;
}
.hocky-tinchi,
.loaihocphan {
    font-weight: 800;
    font-size: 1.4rem;
    color: var(--text-loaihocphan-tinchi);
}

.table-CTK {
}
