.wrapper {
    height: 100%;
    transition: all 500ms ease;
    color: var(--text-color);
}
.wrapper-table {
    height: 100%;
    overflow: auto;
    border-radius: 10px;
    border: 1px solid var(--box-shadow);
    background-color: transparent;
}

.custom-table {
    margin: 0;
    width: 100%;
    font-size: 1.4rem;
}

.custom-table thead.header {
    height: 50px;
    vertical-align: middle;
    text-align: start;
    background-color: var(--header-table);
    font-size: 1.4rem;
    border: none;

    th {
        padding: 10px 0 10px 20px;
    }
}

.custom-table tbody th,
.custom-table tbody td {
    height: 50px;
    padding: 10px 0 10px 20px;
    vertical-align: middle;
}
.custom-table tbody tr {
    border-top: 1px solid var(--box-shadow);
    background-color: var(--content-table);
}

.table thead {
    position: sticky;
    border-radius: 10px;
    z-index: 1;
    top: 0px;
}

.custom-table td:nth-child(1) {
    // width: 15%; /* Độ rộng cột STT % */
}

.custom-table td:nth-child(2) {
    max-width: 180px; /* Độ rộng cột MSSV / MSGV */
}
.custom-table td:nth-child(3) {
    max-width: 180px; /* Độ rộng cột Họ và Tên */
}

.edit-btn,
.add-btn {
    cursor: pointer;
    color: var(--icon-color);
    width: 15px;
    height: 15px;
    &:hover {
        color: var(--primary);
    }

    margin-left: 10px;
}
.add-btn {
    color: #92e3a9;
}
.no-data {
    text-align: center;
    height: 50px;
}
.header-CLO,
.header-CTK {
    height: 50px;
    vertical-align: middle;
    color: var(--primary);
    font-size: 1.4rem;
    background-color: var(--header-table-custom);

    tr {
        border-bottom: 2px solid var(--box-shadow);
    }
    td,
    th {
        padding: 10px 0 10px 20px;
    }
}

.child-form .custom-table thead.header {
    color: var(--text-color-child-table);
    font-size: 1.2rem;
}
.child-form .custom-table tbody {
    background-color: var(--highlight-table);
}
.child-form .wrapper-table {
    border-radius: 0;
    border: none;
}
.child-form .custom-table {
    border-radius: 0;
}
.highlighted {
    background-color: var(--highlight-table) !important;
}
.no-highlight {
    background-color: var(--highlight-table);
    &:hover {
        background-color: var(--highlight-table);
    }
}
.child-form .custom-table tr {
    background-color: none;
}
.child-form .custom-table tbody th,
.child-form .custom-table tbody td {
    background-color: var(--highlight-table);
}
.child-form .table thead {
    z-index: 0;
}
.hocky {
    text-align: center;
}
.hocky-tinchi,
.loaihocphan {
    font-weight: 800;
    font-size: 1.4rem;
    color: var(--text-loaihocphan-tinchi);
}
