.wrapper {
    padding: 10px;
}

.autoPading {
    padding: 25px 10px;
}

.select {
    position: relative;
    border-radius: 10px;
    border: 1px solid #d2d5da;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
    width: 350px;
    height: 50px;

    select {
        border: transparent;
        border-radius: 10px;
        padding-left: 15px;
        width: 100%;
        height: 100%;
        text-overflow: ellipsis;
        &:focus-visible {
            outline: none;
        }
    }
}
.title {
    display: flex;
    align-items: center;
    position: absolute;
    top: -8px;
    left: 10px;
    background-color: var(--white);
    padding: 0 5px;
    font-size: 1.2rem;
}
.isRequired {
    margin-left: 5px;
    color: red;
}
.small {
    width: 160px;
}
.red {
    .text-title {
        color: var(--red);
    }
}
.orange {
    .text-title {
        color: var(--orange);
    }
}

.green {
    .text-title {
        color: var(--green);
    }
}

.blue {
    .text-title {
        color: var(--primary);
    }
}
