.wrapper {
    padding: 25px 10px;
}

.input {
    position: relative;
    border-radius: 10px;
    width: 350px;
    height: 150px;

    textarea {
        border-radius: 10px;
        border: 1px solid #d2d5da;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);

        padding: 10px 40px 0 15px;
        width: 100%;
        height: 100%;
        caret-color: var(--primary);
        text-overflow: ellipsis;
        max-height: 150px;
        &:focus-visible {
            outline: none;
        }
    }
}
.title {
    display: flex;
    align-items: center;
    position: absolute;
    top: -8px;
    left: 10px;
    background-color: var(--white);
    padding: 0 5px;
    font-size: 1.2rem;
    border-radius: 10px;
}
.isRequired {
    margin-left: 5px;
    color: red;
}
.clear {
    position: absolute;
    right: 10px;
    top: 10px;
    color: rgba(22, 24, 35, 0.34);
    background-color: transparent;
    cursor: pointer;
    &:focus {
        outline: none;
    }
}
.small {
    width: 160px;
}
.aria {
    height: 150px;
}
