.wrapper {
    --search-border-radius: 92px;
    --search-height: 40px;
    --search-top-spacer: 9px;
    --search-button-width: 52px;
    height: 68px;
    position: relative;
    min-width: 1230px;
}
// .logo {
// width: 230px;
// display: flex;
// align-items: center;
// justify-content: center;
// }

.logo-iuh {
    width: 150px;
    height: 62px;
}
.user-avatar {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    margin-right: 5px;
}
.active {
    display: flex;
}
.name,
.role {
    margin: 0;
}
.name-role {
    padding: 0px 10px;
}
.name {
    font-size: 1.4rem;
}
.role {
    font-size: 1.2rem;
}
