.card {
    width: 235px;
    height: 230px;
    border: solid 1px rgba(22, 24, 35, 0.12);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 13px 40px 25px 40px;
    border-radius: 5px;
    background-color: var(--white);
    color: var(--text-color);
}
.card-body {
    padding: 8px;
}
.full-name,
.course-id,
.class-name {
    display: block;
    font-size: 1.2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.course-name {
    cursor: pointer;
}
.class-name {
    margin: 7px;
}
.icon {
    margin-right: 5px;
}
