.sidebar {
    width: 280px;
    transition: all 300ms ease;
}

.close {
    width: 75px;
}

.sidebar .text {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--text-color);
    transition: all 300ms ease;
    white-space: nowrap;
    opacity: 1;
}

.close .text {
    opacity: 0;
}

.sidebar header {
    height: 20px;
    position: relative;
}

.sidebar li {
    height: 60px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    color: var(--icon-color);
}

.sidebar header .icon-arrow {
    position: absolute;
    padding: 5px;
    top: 0;
    right: -10px;
    height: 10px;
    width: 10px;
    transform: rotate(180deg);
    transition: all 500ms ease;
    background-color: var(--primary);
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--white);
    font-size: 0.5rem;
    cursor: pointer;
    &:active {
        background-color: var(--primary);
    }
}

.close header .icon-arrow {
    transform: rotate(360deg);
}

.sidebar li .item {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: all 300ms ease;

    &:hover,
    &.active {
        background-color: var(--primary);
        .icon,
        .text {
            color: var(--white);
            transition: all 300ms ease;
        }
    }
    &.active {
        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: -10px;
            width: 4px;
            height: 100%;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
            background-color: var(--primary);
        }
    }
}
.sidebar .menu-bar {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.bottom-content {
    margin-bottom: 15px;
}
.menu-bar .mode {
    position: relative;
}
.menu-bar .mode .moon-sun {
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
}
.menu-bar .mode .icon {
    position: absolute;
}

.menu-bar .mode .toggle-switch {
    position: absolute;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 60px;
    cursor: pointer;
}
.toggle-switch .switch,
.toggle-switch .re-switch {
    position: relative;
    height: 22px;
    width: 44px;
    border-radius: 25px;
    background: #f5f6fa;
}
.switch::before {
    content: '';
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    height: 15px;
    width: 15px;
    background-color: var(--icon-color);
    transition: all 300ms ease;
}
.dark .switch::before {
    left: 20px;
    background-color: var(--primary);
}
