.search,
.search-result {
    width: 350px;
}

.search {
    position: absolute;
    top: 50%;
    right: 59.5%;
    transform: translateY(-50%);
    height: var(--search-height);
    display: flex;
    padding-left: 16px;
    background-color: var(--search-background);
    border-radius: var(--search-border-radius);
    border: 1.5px solid transparent;

    input {
        flex: 1;
        height: 100%;
        padding-right: 40px;
        font-size: 1.6rem;
        background-color: transparent;
        caret-color: var(--primary);
        color: var(--color);
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: var(--color);
    }

    &::after {
        content: '';
        position: absolute;
        top: 9px;
        right: var(--search-button-width);
        width: 1px;
        height: calc(var(--search-height) - var(--search-top-spacer) * 2);
        background-color: rgba(22, 24, 25, 0.12);
    }
    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }
}
.search-title {
    padding: 5px 12px;
    font-size: 1.4rem;
    color: var(--color);
}

.clear,
.loading {
    position: absolute;
    right: calc(var(--search-button-width) + 16px);
    top: 50%;
    transform: translateY(-50%);
    color: var(--icon-color);
    background-color: var(--search-background);
    &:focus {
        outline: none;
    }
}

.loading {
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    from {
        transform: translateY(-50%) rotate(0);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}

.search-btn {
    width: 52px;
    height: 100%;
    background-color: var(--search-background);

    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    font-size: 1.8rem;
    color: var(--text-color);

    &:hover {
        cursor: pointer;
        background-color: rgba(22, 24, 35, 0.03);
    }
    &:active {
        color: rgba(22, 24, 35, 0.06);
    }
}
